body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Ubuntu",
        sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}

.container {
    padding: 40px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
}

h1 {
    color: #01022d;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a.project-link {
    display: block;
    padding: 15px 20px;
    background-color: #01022d;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

a.project-link:hover {
    background-color: #03054e;
    transform: scale(1.03);
}