* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1000px;
    min-height: 80vh;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    backdrop-filter: blur(1px);
    padding: 20px;
}

.circle {
    position: absolute;
    z-index: -1;
    background-color: red;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    bottom: -150px;
    right: -250px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0;
}

#content {
    flex: 1;
    padding-right: 20px;
}

#image {
    flex: 1;
    text-align: center;
}

#image img {
    max-width: 100%;
    height: auto;
}

main h2 {
    font-size: 40px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        min-height: 90vh;
    }

    main {
        flex-direction: column;
        padding: 20px;
    }

    #image img {
        width: 80%;
    }

    .circle {
        width: 400px;
        height: 400px;
        bottom: -100px;
        right: -100px;
    }

    nav {
        flex-direction: column;
    }
}