.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 203, 203);
  height: 55px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.left-section {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu-container {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-icon {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: inherit;
  align-items: center;
}

.search-bar {
  height: 36px;
  display: flex;
  flex: 1;
  font-size: 16px;
  border: solid 1px rgb(195, 195, 195);
  border-radius: 18px 0 0 18px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 16px;
  padding-left: 10px;
  width: 0;
}

.search-btn {
  height: 40px;
  width: 60px;
  border: solid 1px rgb(195, 195, 195);
  background-color: rgb(240, 240, 240);
  border-radius: 0 20px 20px 0;
  border-left: none;
}

.search-btn,
.voice-search-btn,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-icon {
  height: 25px;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  bottom: -30px;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}


.voice-search-btn {
  height: 40px;
  width: 40px;
  border: solid 1px rgb(195, 195, 195);
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  margin-left: 10px;
}

.voice-search-icon {
  height: 25px;
}

.right-section {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  background-color: rgb(204, 0, 0);
  color: white;
  position: absolute;
  top: -2px;
  right: -5px;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 11px;
}

.my-channel-icon {
  height: 32px;
  border-radius: 16px;
}