.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  margin: 0;
  z-index: 200;
  padding-top: 5px;
  background-color: white;
}

.sidebar-link a {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link-text {
  margin-top: 4px;
  font-size: 10px;
}

.sidebar-link a:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.sidebar , .sidebar-link {
  list-style: none;
  padding: 0; 
  margin: 0;
}