.video-preview {
  padding: 5px;
  border-radius: 5px;
}

.video-preview:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic {
  width: 40px;
  border-radius: 50px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  background-color: rgb(248, 248, 248);
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}